{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "root": true,
  "plugins": ["react", "react-hooks"],
  "rules": {
    "index": ["off"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "curly": ["off"],
    "no-unused-vars": ["warn"],
    "react/boolean-prop-naming": [
      "off",
      { "propTypeNames": ["bool"], "validateNested": true }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "children": { "when": "never" },
        "attributes": { "allowMultiline": false }
      }
    ],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": false,
        "overrides": {
          "from": {
            "before": true
          },
          "continue": {
            "before": true
          },
          "if": {
            "after": false
          },
          "return": {
            "before": true
          },
          "else": {
            "before": false
          }
        }
      }
    ]
  }
}
