$formChildrenMarginBottom: 10px

.form
  background-color: #000
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 60%
  width: 60%

  input, button
    font-size: 2rem
    outline: none
    margin-bottom: $formChildrenMarginBottom

  input
    width: 50%

  select
    width: 50%
    font-size: 1.2rem
    margin-bottom: $formChildrenMarginBottom
    outline: none

  // button


.positioning
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
