@import "styles/variables"

.wrapper
  display: flex
  flex-direction: row
  align-items: center
  height: 60px
  overflow: hidden

  .selected
    font-weight: 800 !important

  div
    display: flex
    flex-direction: row-reverse
    cursor: pointer

  p
    font-size: 3rem
    margin: 0px
    font-weight: 300
    display: flex
    align-items: center
    user-select: none
    // margin: 20px 0px

  svg
    fill: $white
    width: 75px
    height: 75px
