@import "styles/variables"

$pagePadding: 30px
$contentWidth: 60%
$menuWidth: 25%

.wrapper
  display: flex
  flex-direction: row

.container
  // display: flex
  // flex-direction: column
  width: 100%
  padding-left: $pagePadding
  padding-right: $pagePadding

  .hoz_line
    margin: 0px !important
    width: 100%

.header
  display: flex
  flex-direction: row
  align-items: center

.headline
  font-size: 3rem
  color: $white
  margin: 20px 0px 20px 0px
  font-weight: 700

.authorText
  color: $white
  position: absolute
  right: $pagePadding

  font-size: 1.4rem
  font-weight: 200

.descDivider
  width: 100%
  height: auto
  display: inline-block

.descContainer
  width: auto
  height: auto
  padding: 10px 20px
  margin: 0px
  margin-top: 30px

  border-radius: 5px
  font-size: 1.5rem

  font-weight: 300

  display: inline-block

  background-color: $white

  p
    width: auto

.descTitle
  font-weight: 500
  margin: 0px
  margin-top: 5px

.mainContainer
  margin-top: 30px
  width: 100%

  //remove (maybe)
  min-height: 50%

  display: flex
  flex-direction: row

.content
  width: 100%

// .mainDivider
//   width: calc(100% - #{$contentWidth} - #{$menuWidth})
//   height: auto

.courseMenu
  display: flex
  flex-direction: row
  width: auto
  height: auto
  // border: 1px solid $purple
  // border-radius: 5px

.menuOption
  width: auto
  min-width: 100px
  height: auto
  color: $white
  text-align: center
  font-size: 1.25rem
  padding: 12px

  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

  border-bottom: 2px solid $purple
  border-top: none

  border-right: 2px solid $purple

  cursor: pointer
  user-select: none

  @include transition(0.2s, ease-out)

  p
    margin: 0px

.menuOption.menuOptionSelected
  background-color: rgba($purple, 0.4)

.menuOption:hover
  background-color: rgba($purple, 0.7)

.menuOption:first-of-type
  border-bottom-left-radius: 5px
  border-left: 2px solid $purple

.menuOption:last-of-type
  border-bottom-right-radius: 5px


.rightClickIcon
  width: 15px
  height: 22px
  margin-left: 10px






//
