@import "styles/variables"

$pagePadding: 30px

.wrapper
  display: flex
  flex-direction: row

.container
  // display: flex
  // flex-direction: column
  width: 100%
  padding-left: $pagePadding
  padding-right: $pagePadding

  .hoz_line
    margin: 0px !important
    width: 100%

.header
  display: flex
  flex-direction: row
  align-items: center

.headline
  font-size: 3rem
  color: $white
  margin: 20px 0px 20px 0px
  font-weight: 700

.authorText
  color: $white
  position: absolute
  right: $pagePadding

  font-size: 1.4rem
  font-weight: 200

.descDivider
  width: 100%
  height: auto

.descContainer
  width: auto
  height: auto
  padding: 10px
  margin: 0px
  margin-top: 30px

  border-radius: 5px
  font-size: 1.5rem

  font-weight: 300

  display: inline-block

  background-color: $white

  p
    width: auto


.mainContainer
  margin-top: 30px
  width: 100%

  //remove (maybe)
  min-height: 50%

  display: flex
  flex-direction: row

.content
  width: 60%

.mainDivider
  width: 10%
  height: auto

.courseMenu
  width: 30%
  height: auto
  border: 1px solid $purple
  border-radius: 5px


















//
