@import "styles/variables"
@import "../coursePageRender/coursePageRender.module.sass"

.menuOption
  width: auto
  min-width: 100px
  height: auto
  color: $white
  text-align: center
  font-size: 1.25rem
  padding: 12px

  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

  border-bottom: 2px solid $purple
  border-top: none

  border-right: 2px solid $purple

  cursor: pointer
  user-select: none

  @include transition(0.2s, ease-out)

  p
    margin: 0px

.menuOption.menuOptionSelected
  background-color: rgba($purple, 0.4)

.menuOption:hover
  background-color: rgba($purple, 0.7)

.menuOption:first-of-type
  border-bottom-left-radius: 5px
  border-left: 2px solid $purple

.menuOption:last-of-type
  border-bottom-right-radius: 5px


.rightClickIcon
  width: 15px
  height: 22px
  margin-left: 10px



.plusOption
  min-width: 60px !important
  border-bottom-right-radius: 5px

.plusIcon
  width: 100%
  height: 100%

// $headerHeight: 100px
// $courseMenuHeight: 51px
// $mainContainerMargin: 30px

.creatingMenuItem
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: calc(100vh - #{$headerHeight} - #{$mainContainerMargin})
  background-color: rgba(0,0,0,0.2)
  z-index: 1500
  display: flex
  justify-content: center
  align-items: center

  .container
    width: 500px
    height: auto
    display: flex
    flex-direction: column
    align-items: flex-start
    position: relative
    padding: 0px

    .headline
      font-size: 1.5rem
      margin: 0px
      margin-left: 8px
      margin-bottom: 8px

    .btn
      padding: 10px
      margin-top: 10px
      border-radius: 5px
      color: $white
      font-size: 1.2rem
      font-weight: 500
      cursor: pointer
      user-select: none
      @include transitionProp(0.2s, ease-out, background-color)

      p
        margin: 0px

    .close
      background-color: rgba($red, 0.6)

    .create
      background-color: rgba($green, 0.6)
      position: absolute
      right: 0px
      bottom: 0px

    .close:hover
      background-color: $red

    .create:hover
      background-color: $green

    .inner
      background-color: $black
      border-radius: 5px
      height: auto
      padding: 15px
      width: 100%

      .title:first-of-type
        margin: 0px !important

      .title
        font-size: 1.3rem
        color: $white
        margin: 10px 0px
        font-weight: 600

      .preset:hover
        background-color: rgba($purple, 0.4)

      .preset
        border: 2px solid $purple
        color: $white
        padding: 5px 10px
        border-radius: 50px
        font-weight: 300
        font-size: 1.1rem
        user-select: none
        // background-color: $black
        cursor: pointer

        @include transitionProp(0.2s, ease-out, background-color)

        p
          margin: 0px

      .preset.selected
        background-color: rgba($purple, 0.8)

      .preset.selected:hover
        background-color: rgba($purple, 0.8)

      .wrapper
        background-color: $blacker
        padding: 15px 10px
        border-radius: 5px
        margin-top: 10px
        position: relative

        .text
          color: $white
          margin-top: 0px
          margin-bottom: 8px
          font-size: 1.2rem

        form
          display: flex
          flex-direction: column
          align-items: flex-start

        input
          margin-top: 2px
          font-size: 1.1rem
          background: none
          border: none
          border-bottom: 1px solid $purple
          outline: none
          padding: 5px
          color: $white

          @include transitionProp(0.2s, ease-out, background-color)

        input:focus
          background-color: rgba($white, 0.1)















  //
