@import "styles/variables"

$pagePadding: 30px

$headerHeight: 100px
$courseMenuHeight: 51px
$mainContainerMargin: 30px

.wrapper
  display: flex
  flex-direction: row

.container
  width: 100%
  padding-left: $pagePadding
  padding-right: $pagePadding

  .hoz_line
    margin: 0px !important
    width: 100%

  .courseMenu
    display: flex
    flex-direction: row
    width: auto
    height: auto
    height: $courseMenuHeight
    position: relative

.header
  display: flex
  flex-direction: row
  align-items: center
  height: $headerHeight

.headline
  font-size: 3rem
  color: $white
  margin: 20px 0px 20px 0px
  font-weight: 700
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 70%
  display: flex
  flex-direction: row
  align-items: center

  .editing
    font-weight: 500
    margin: 0px
    margin-right: 20px
    color: $lightPurple
    background-color: $blacker
    padding: 10px
    padding-top: 6px
    user-select: none

.authorText
  color: $white
  font-size: 1.4rem
  font-weight: 200

  width: 30%
  text-align: right
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.descDivider
  width: 100%
  height: auto
  display: inline-block

.descContainer
  width: auto
  height: auto
  padding: 10px 20px
  margin: 0px
  margin-top: 30px

  border-radius: 5px
  font-size: 1.5rem

  font-weight: 300

  display: inline-block

  background-color: $white

  p
    width: auto

.descTitle
  font-weight: 500
  margin: 0px
  margin-top: 5px

.mainContainer
  margin-top: $mainContainerMargin
  width: 100%
  display: flex
  flex-direction: column
  padding-left: 100px

.content
  width: 100%
  height: calc(100vh - #{$headerHeight} - #{$courseMenuHeight} - #{$mainContainerMargin} - 3px)
  position: relative
