@import "styles/variables"


.page
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  @include transition(0.2s, ease-out)


.page.minified
  .wrapper
    width: 400px
  .phase
    width: calc(100% - 400px)

$phaseHeaderHeight: 56px

.phase
  width: 0%
  height: 100%
  overflow: hidden

  @include transition(0.2s, ease-out)

  .container
    margin-top: 50px
    height: calc(100% - 50px)
    width: 100%
    // background-color: $purple

  .header
    width: 100%
    // background-color: $purple
    margin-left: 30px
    height: $phaseHeaderHeight

    .title
      font-size: 2.4rem
      font-weight: 600
      color: $white
      display: inline-block
      width: auto
      border-bottom: 2px solid $purple
      padding-bottom: 6px
      padding-left: 4px
      padding-right: 4px
      margin: 0px
      // margin-left: 30px
    // margin-top: 40px

$footerHeight: 100px

@mixin setFooterHeight($height)
  $footerHeight: $height !global

@function getFooterHeight()
  @return $footerHeight


// @mixin contentMaxHeight()
//   max-height: calc(100% - #{$phaseHeaderHeight} - #{$footerHeight} - 30px)


.footer.open
  background-color: #000

  @include setFooterHeight(300px)

  height: getFooterHeight()

  // height: setFooterHeight(300px)


.footer

  @include setFooterHeight(100px)
  height: getFooterHeight()

  // height: setFooterHeight(100px)
  // height: $footerHeight
  margin-left: 30px
  border-top: 2px solid $lightGrey
  display: flex
  flex-direction: row
  align-items: center

  .viewComments
    font-size: 1.6rem
    font-weight: 500
    color: $white
    margin: 0px
    user-select: none
    cursor: pointer
    border: 2px solid $purple
    width: auto
    display: inline-block
    padding: 16px
    border-radius: 5px
    @include transitionProp(0.2s, ease-out, background-color)

  .viewComments:hover
    background-color: rgba($purple, 0.6)
    text-decoration: underline


.content.noFooter
  max-height: calc(100% - #{$phaseHeaderHeight} - 30px)

.content
  margin-left: 40px
  // margin-bottom: 30px
  margin-top: 30px
  padding-right: 20px
  padding-top: 10px
  padding-bottom: 10px

  height: auto

  // @include contentMaxHeight()
  // max-height: calc(100% - #{$phaseHeaderHeight} - #{$footerHeight} - 30px)

  height: getFooterHeight()

  //30px = margin-top & 30px = margin-bottom
  // max-height: calc(100% - #{$phaseHeaderHeight} - #{$footerHeight} - 30px)

  overflow-y: scroll

  .paragraph
    background-color: $blacker
    color: $white
    padding: 20px
    margin-bottom: 16px

    p
      margin: 0px
      font-size: 1.3rem

//not in footer anymore
.upload
  height: 100%
  // background-color: #000
  display: flex
  align-items: center
  justify-content: center
  width: 300px


  label
    display: flex
    justify-content: center
    align-items: center
    color: $white
    width: 100%
    height: 80%
    font-size: 1.2rem
    border: 3px dashed $purple

    span
      font-weight: 600
      margin-right: 5px
      border-bottom: 1px solid transparent
      margin-bottom: -1px
      cursor: pointer

    span:hover
      border-bottom: 1px solid $white



















//WRAPPER vvv

.wrapper
  width: 100%
  //because of .modulesContainer padding-bottom
  height: calc(100% - 50px)
  @include transition(0.2s, ease-out)


.noModulesText
  color: $white
  font-size: 1.2rem

.modulesContainer
  height: 100%
  width: 100%
  overflow-y: scroll
  padding-bottom: 60px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  padding-top: 20px


.modulesText
  font-size: 2rem
  color: $white
  font-weight: 600
  margin: 0px
  margin-bottom: 10px



















  //
