@import "styles/variables"


.page
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  @include transition(0.2s, ease-out)


.page.minified
  .wrapper
    width: 416px
  .phase
    width: calc(100% - 400px)

$phaseHeaderHeight: 56px


.phase.handInMenuOpen
  .container
    width: 58% !important
  .handInMenu
    width: 42%

.phase
  width: 0%
  height: 100%
  overflow: hidden
  position: relative
  // display: flex
  // flex-direction: row

  @include transition(0.2s, ease-out)



  .container
    margin-top: 50px
    height: calc(100% - 50px)
    width: 100%
    position: relative
    display: inline-block
    // background-color: $purple
    @include transition(0.2s, ease-out)

  .header
    width: 100%
    // background-color: $purple
    margin-left: 30px
    height: $phaseHeaderHeight

    .title
      font-size: 2.4rem
      font-weight: 600
      color: $white
      display: inline-block
      width: auto
      border-bottom: 2px solid $purple
      padding-bottom: 6px
      padding-left: 4px
      padding-right: 4px
      margin: 0px
      // margin-left: 30px
    // margin-top: 40px

$footerHeight: 70px
$footerOpenHeight: 70%

.content.footerOpen
  max-height: calc(100% - #{$phaseHeaderHeight} - #{$footerOpenHeight} - 30px)

.footer.open
  height: $footerOpenHeight

  .viewComments
    .footerArrow
      background-color: rgba($purple, 0.6) !important
      @include rotate(270)

.footer
  height: $footerHeight
  margin-left: 30px
  border-top: 2px solid $lightGrey
  display: flex
  flex-direction: column
  align-items: flex-start
  position: relative

  //height of viewComments and top
  // padding-top: calc(68px + 16px)

  @include transition(0.2s, ease-out)

  .viewComments
    font-size: 1.4rem
    font-weight: 500
    color: $white
    margin: 0px
    user-select: none
    cursor: pointer
    // border: 2px solid $purple
    width: auto
    min-height: 50px
    max-height: 50px


    display: flex
    flex-direction: row
    align-items: center
    // padding: 8px

    position: absolute
    bottom: calc((#{$footerHeight} - 50px)/2)
    right: 23px

    border-radius: 5px
    @include transition(0.2s, ease-out)

    .text
      margin-right: 6px

    .footerArrow
      width: 40px
      height: 40px
      border-radius: 100px
      pointer-events: none

      @include rotate(90)
      @include transition(0.2s, ease-out)

  .viewComments:hover
    // background-color: rgba($purple, 0.6)
    text-decoration: underline

    .footerArrow
      background-color: rgba($white, 0.2)
      @include rotate(270)



.content.noFooter
  max-height: calc(100% - #{$phaseHeaderHeight} - 30px) !important

.content
  margin-left: 40px
  // margin-bottom: 30px
  margin-top: 30px
  padding-right: 20px
  padding-top: 10px
  padding-bottom: 10px

  height: auto

  //30px = margin-top & 30px = margin-bottom
  max-height: calc(100% - #{$phaseHeaderHeight} - #{$footerHeight} - 30px)

  overflow-y: scroll

  @include transition(0.2s, ease-out)

  .paragraph
    background-color: $blacker
    color: $white
    padding: 20px
    margin-bottom: 16px

    p
      margin: 0px
      font-size: 1.3rem

//not in footer anymore
.upload
  height: 100%
  // background-color: #000
  display: flex
  align-items: center
  justify-content: center
  width: 300px


  label
    display: flex
    justify-content: center
    align-items: center
    color: $white
    width: 100%
    height: 80%
    font-size: 1.2rem
    border: 3px dashed $purple

    span
      font-weight: 600
      margin-right: 5px
      border-bottom: 1px solid transparent
      margin-bottom: -1px
      cursor: pointer

    span:hover
      border-bottom: 1px solid $white




.posts
  width: 100%
  //50px viewCOmments button height. 20px viewComments margins.
  //10px + 50px = 60px. other 10px is in padding.
  height: calc(100% - 60px)
  padding: 10px
  overflow-y: hidden

  .post:first-of-type
    margin-top: 0px

  .post
    position: relative
    width: 100%
    border-bottom: 2px solid rgba($white, 0.8)
    padding: 10px

    margin-top: 36px

    color: $white

    .text
      margin: 0px
      font-size: 1.3rem

    .author
      position: absolute
      bottom: -24px
      left: 6px
      margin: 0px
      font-weight: 300
      font-size: 1rem

.handIn
  background-color: rgba($purple, 0.4)
  border: 2px solid $purple
  padding: 12px
  position: absolute
  right: 10px
  top: 0px
  border-radius: 4px
  cursor: pointer
  @include transition(0.2s, ease-out)

  .text
    margin: 0px
    color: $white
    font-size: 1.4rem

.handIn:hover
  background-color: $purple


$handInMenuHeight: 250px

.handInMenu
  @include transition(0.2s, ease-out)
  display: flex
  align-items: center
  justify-content: center
  width: 0%
  overflow: hidden
  display: inline-block
  position: absolute
  top: 0px
  height: calc(100% - 50px)
  margin-top: 50px


  .menuWrapper
    //set width with js

    margin-left: 10px
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

  .board
    width: 100%
    height: auto
    background-color: $blacker
    color: $white
    border-radius: 5px
    padding: 20px
    //because last rows margin-bottom
    padding-bottom: 0px
    padding-right: 0px
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap

    .togglerParent:hover
      background-color: rgba($black, 0.4)

    .togglerParent.selected:hover
      background-color: $black

    .togglerParent
      display: inline-block
      width: auto
      margin-right: 20px
      margin-bottom: 20px
      background-color: $black
      padding: 5px
      padding-right: 10px
      border-radius: 5px
      cursor: pointer
      @include transitionProp(0.2s, ease-out, background-color)


    .toggler
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      height: auto
      width: auto
      user-select: none


      .box
        width: 45px
        height: 45px
        border-radius: 200px
        margin-right: 8px

      .text
        margin: 0px
        font-size: 1.5rem



//WRAPPER vvv

.wrapper
  width: 100%
  //because of .modulesContainer padding-bottom
  height: calc(100% - 50px)
  @include transition(0.2s, ease-out)


.noModulesText
  color: $white
  font-size: 1.2rem

.modulesContainer
  height: 100%
  width: 100%
  padding-left: 16px
  overflow-y: scroll
  padding-bottom: 60px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  padding-top: 20px


.modulesText
  font-size: 2rem
  color: $white
  font-weight: 600
  margin: 0px
  margin-bottom: 10px



















  //
