@import "styles/variables"

$pagePadding: 30px
$contentWidth: 60%
$menuWidth: 25%

$headerHeight: 100px
$courseMenuHeight: 51px
$mainContainerMargin: 30px

.wrapper
  display: flex
  flex-direction: row

.container
  // display: flex
  // flex-direction: column
  width: 100%
  padding-left: $pagePadding
  padding-right: $pagePadding

  .hoz_line
    margin: 0px !important
    width: 100%

.header
  display: flex
  flex-direction: row
  align-items: center
  height: $headerHeight

.headline
  font-size: 3rem
  color: $white
  margin: 20px 0px 20px 0px
  font-weight: 700

.authorText
  color: $white
  position: absolute
  right: $pagePadding

  font-size: 1.4rem
  font-weight: 200

.descDivider
  width: 100%
  height: auto
  display: inline-block

.descContainer
  width: auto
  height: auto
  padding: 10px 20px
  margin: 0px
  margin-top: 30px

  border-radius: 5px
  font-size: 1.5rem

  font-weight: 300

  display: inline-block

  background-color: $white

  p
    width: auto

.descTitle
  font-weight: 500
  margin: 0px
  margin-top: 5px

.mainContainer
  margin-top: $mainContainerMargin
  width: 100%

  //remove (maybe)
  // min-height: 50%

  display: flex
  flex-direction: column

.content
  width: 100%
  height: calc(100vh - #{$headerHeight} - #{$courseMenuHeight} - #{$mainContainerMargin} - 20px)
  overflow-y: scroll
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  // justify-content: center

// .mainDivider
//   width: calc(100% - #{$contentWidth} - #{$menuWidth})
//   height: auto

.courseMenu
  display: flex
  flex-direction: row
  width: auto
  height: auto
  height: $courseMenuHeight
  // border: 1px solid $purple
  // border-radius: 5px


.editCourse
  position: absolute
  right: 10px
  bottom: 10px
  background-color: $purple

  border-radius: 5px
  color: $white
  padding: 20px 20px
  cursor: pointer

  z-index: 100

  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

  @include transitionProp(0.2s, ease-out, background-color)

  .icon
    width: 48px
    height: 48px
    margin-right: 10px

  p
    font-weight: 500
    font-size: 1.5rem
    margin: 0px

.editCourse:hover
  background-color: $darkPurple2



.phaseEdit
  margin-top: 40px
  margin-left: 40px
  width: 360px
  background-color: $white
  border-radius: 5px
  display: inline-block
  position: relative
  align-items: center

  cursor: pointer

  height: 80px

  box-shadow: 5px 5px 30px 0px rgba(0,0,0, 0.4)

  .name
    font-size: 1.5rem
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    font-weight: 300

  .editBtn
    position: absolute
    top: 0px
    right: 0px
    height: 100%
    width: 100px
    display: flex
    justify-content: center
    align-items: center
    background-color: $lightBlue
    border-bottom-right-radius: 4px
    border-top-right-radius: 4px

    p
      text-align: center
      color: $white
      font-size: 1.65rem
      font-weight: 300

  input
    font-size: 1.5rem
    outline: none
    padding: 10px
    // border-radius: 3px
    border: none
    background: none
    background-color: rgba($black, 0.3)
    // border: 2px solid $lightGrey
    height: 100%
    width: 100%
    border-top-right-radius: 3px

    @include transitionProp(0.2s, ease-out, background-color)

  input:focus
    background-color: rgba($black, 0.3)


  .edit
    width: 100%
    background-color: $darkPurple2
    height: 40%
    color: $white
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    display: flex
    justify-content: center
    align-items: center

    user-select: none

    p
      width: auto


  .textContainer
    display: flex
    flex-direction: row
    align-items: center
    // padding: 10px
    padding-left: 10px
    height: 60%


  p
    margin: 0px
    // position: absolute
    // right: 20px
    font-size: 1.3rem
    width: 240px

.phaseEdit:first-of-type
  margin-top: 0px !important
  background-color: $black

// .phasesEdit:nth-of-type(2)
//   margin-top: 0px !important

.changesSaveStatus
  margin-left: 20px
  color: $white
  font-size: 1.2rem

  p
    margin: 0px





//
