@import "styles/variables"

.page
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  @include transition(0.2s, ease-out)


.page.minified
  .wrapper
    width: 416px
  .phase
    width: calc(100% - 400px)



.sortable
  width: 100%





// .dragging
//   color: $white
//   position: absolute
  // width: 90%
  // left: 0px
  // background-color: #000 !important

.wrapper
  width: 100%
  //because of .modulesContainer padding-bottom
  height: calc(100% - 50px)
  @include transition(0.2s, ease-out)

.noModulesText
  color: $white
  font-size: 1.2rem

.modulesContainer
  height: 100%
  width: 100%
  padding-left: 16px
  overflow-y: scroll
  padding-bottom: 60px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  padding-top: 20px
  position: relative


.modulesText
  font-size: 2rem
  color: $white
  font-weight: 600
  margin: 0px
  margin-bottom: 10px


.creationContainer
  position: absolute
  width: calc(100% + 20px) !important
  height: 100% !important
  left: -20px

.createModuleButton
  bottom: 180px !important
