@import "styles/variables"

.wrapper
  display: flex
  flex-direction: row

.calendarWrapper
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  position: relative

  .pageTitle
    position: absolute
    margin: 0px
    top: 12px
    left: 12px
    color: $white
    font-weight: 800
    font-size: 1.8rem


  .typeSelector
    border: 2px solid $purple
    border-radius: 5px
    position: absolute
    top: 10px
    display: flex
    flex-direction: row
    align-items: center
    height: 50px

    // padding: 0px 5px

    .selector:last-of-type
      border-right: none !important

    .selector
      padding: 5px
      color: $white
      border-right: 2px solid $purple
      height: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      min-width: 90px
      user-select: none
      cursor: pointer

      font-size: 1rem

      @include transitionProp(0.2s, ease-out, background-color)

    .selector:hover
      background-color: rgba($purple, 0.2)

    .selector.selected
      background-color: rgba($purple, 0.6)



.calendar
  position: absolute
  width: 100%
  height: 85vh
  // background-color: $white
  border-radius: 5px
  bottom: 0px
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px
  overflow-y: scroll

  display: flex

.dayDivider
  position: absolute
  top: 0px
  width: 2px
  background-color: $lightGrey
  left: 34%

.events
  position: relative
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.multipleDayExtraPositioning
  position: absolute
  top: 0px
  left: 0px
  width: calc(100% - 55px - 55px)
  margin-left: 55px

  display: flex
  flex-direction: row
  justify-content: space-between

.completeThreeEventDay
  width: 30%
  display: flex
  justify-content: center

.completeSevenEventDay
  width: 13%
  display: flex
  justify-content: center

.dayIdentifier
  position: fixed
  color: $white
  font-weight: 300
  margin: 0px
  margin-top: -60px
  width: 120px
  user-select: none

  p:first-child
    font-size: 1.4rem !important
    font-weight: 500 !important

  p
    margin: 0px
    text-align: center
    font-size: 1rem

.oneDayTitle
  margin-left: -100px

.multipleDayEvents
  width: 100%

.ghostEventContainer
  position: relative
  height: 100px
  min-height: 65px !important
  z-index: 10


.oneDaySchedule
  width: 60%
  width: 30%

.multipleDaySchedule
  width: 100%

.oneDayContainer
  display: flex
  width: 100%
  flex-direction: column
  align-items: center

.event
  position: absolute
  top: 0px
  left: 0px

  background-color: $purple

  border-bottom: 2px solid rgba($darkPurple2, 0.4)
  border-right: 2px solid rgba($darkPurple2, 0.4)

  //static color
  box-shadow: 2px 2px 45px 0px rgba(#191A1C, 0.3)

  width: 100%
  height: 100%

  border-radius: 5px

  padding: 10px
  padding-top: 5px

  p
    margin: 0px

  .time
    color: $white
    font-weight: 500
    font-size: 1rem
    position: absolute
    right: 10px
    top: 10px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .timeSmall
    right: 5px
    padding-left: 5px
    top: 35px
    width: calc(100% - 5px)
    text-align: right
    white-space: nowrap
    font-size: 0.8rem
    overflow: hidden
    text-overflow: ellipsis

  .eventName
    color: $white
    font-size: 1.4rem
    // width: 60%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .locationWrapper
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    margin-top: 3px

    p
      color: rgba($white, 0.8)
      font-size: 1rem
      font-weight: 400

    .mapIcon
      width: 15px
      height: 15px
      color: rgba($white, 0.8)
      margin-right: 5px

.monthContainer
  width: 100%
  padding: 0px 10px

  .dayIds
    position: fixed
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    margin-top: -40px

    .monthDayIdentifier
      font-size: 1.4rem
      width: calc((100% / 7) + 2px - 20px)
      text-align: center
      color: $white

  .month
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: stretch
    border-left: 1px solid $lightGrey
    border-top: 1px solid $lightGrey
    height: 100%

    .monthDay
      width: calc(100% / 7)
      border-bottom: 1px solid $lightGrey
      border-right: 1px solid $lightGrey
      color: $white
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      font-size: 1.5rem

      p
        margin: 0px

      .day
        font-size: 0.8rem

.segment
  width: 100%
  height: 120px
  position: absolute
  padding-top: 10px

  .hour
    margin: 0px
    margin-left: 10px
    color: $white

  .line
    width: 100%
    height: 2px
    background-color: $lightGrey
    position: absolute
    top: 0px

.currentWeek
  color: $white
  margin: 0px
  margin-bottom: 5px
  font-size: 1.5rem
  position: absolute
  left: 10px
  top: calc(10vh - 0.25rem)
  font-weight: 300
  user-select: none

.navigation
  position: absolute
  right: 20px
  top: 20px
  display: flex
  flex-direction: column
  align-items: center

  .arrowContainer
    display: flex
    flex-direction: row
    align-items: center


    .arrow:last-of-type
      margin-left: 20px !important

    .arrow
      cursor: pointer
      .icon
        width: 30px
        height: 30px
        color: $white








//
