@import "styles/variables"

.createFirstItemWrapper
  position: relative
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .helperText
    color: $white
    text-align: center
    font-size: 1.5rem
    font-weight: 300

  .createFirstItem
    user-select: none

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: $white

    background-color: $purple
    width: 250px
    height: 220px

    font-size: 1rem

    border-radius: 5px
    cursor: pointer

    @include transition(0.2s, ease-out)

    p
      font-size: 2rem
      margin: 0px
      margin-top: 20px

    .plus
      width: 100px
      height: 100px

  .createFirstItem:hover
    background-color: $darkPurple2

//createItem with text:
// .createItem
//   position: fixed
//   bottom: 10px
//   right: 10px
//   z-index: 100
//
//   user-select: none
//
//   display: flex
//   flex-direction: row
//   align-items: center
//
//   color: $white
//   font-size: 1.5rem
//
//   font-weight: 400
//
//   cursor: pointer
//
//   border-radius: 5px
//   background-color: $purple
//
//   padding: 0px 20px
//
//   @include transition(0.2s, ease-out)
//
  // .plus
  //   width: 50px
  //   height: 50px
  //   margin-right: 20px
  //
  //   color: $white

.createItem
  position: fixed
  bottom: 10px
  left: calc(#{$sidebarWidth} + 10px)
  z-index: 100

  user-select: none

  display: flex
  flex-direction: row
  align-items: center

  color: $white
  font-size: 1.5rem

  font-weight: 400

  cursor: pointer

  border-radius: 20px
  // background-color: $purple

  padding: 0px

  @include transition(0.2s, ease-out)

  .plus
    width: 75px
    height: 75px
    margin: 0px

    color: $white

.createItem:hover
  background-color: $darkPurple2

.newItemCreation.creationOpen
  opacity: 1 !important
  pointer-events: inherit !important

.newItemCreation
  position: absolute
  top: 0px
  left: 0px
  width: 100vw
  height: 100vh

  z-index: 1000
  background-color: rgba($grey, 0.85)

  display: flex
  justify-content: center
  align-items: center

  opacity: 0
  pointer-events: none

  @include transition(0.2s, ease-out)

  form
    display: flex
    flex-direction: column
    align-items: center

  input
    font-size: 2rem
    padding: 20px
    background: none
    border: 2px solid $purple
    border-radius: 5px
    outline: none
    color: $white
    width: 100%

    @include transition(0.2s, ease-out)

  input::placeholder
    color: rgba($white, 0.75)

  input:hover, input:focus
    background-color: rgba($white, 0.15)

  .buttonContainer
    width: 100%
    position: relative

  button
    position: absolute
    width: auto
    margin-top: 20px
    font-size: 2rem
    padding: 10px 20px

    background: none
    border: none
    outline: none

    color: $white
    background-color: rgba($green, 0.7)
    cursor: pointer

    border-radius: 5px
    @include transition(0.2s, ease-out)

  button:hover
    background-color: rgba($green, 1)

  //exit button
  button:first-of-type
     left: 0px
     background-color: rgba($red, 0.7)

  button:first-of-type:hover
    background-color: rgba($red, 1)

  button:last-of-type
    right: 0px
