@import "styles/variables"

$informationWidth: 420px

.wrapper
  display: flex
  flex-direction: row
  height: 100%
  width: 100%

.page
  width: calc(100% - #{$sidebarWidth})
  height: 100%
  margin: 0px
  // background-color: $black
  color: $white
  position: relative
  padding: 0px 30px
  overflow-y: scroll

  .header
    width: 100%
    height: 100px
    padding: 20px 0px
    display: flex
    align-items: center

  .hozLine
    width: 100%
    margin: 0 auto
    height: 2px
    background-color: $purple
    // margin-top: 12px

  .verLine
    width: 2px
    height: 40%
    background-color: rgba($purple, 0.6)
    position: absolute
    top: 100px
    right: calc($informationWidth + 30px)

  .ownerName
    position: absolute
    // top: 35px
    right: 30px
    margin: 0px
    font-size: 1.4rem
    font-weight: 300

.inner
  width: 100%
  height: 100%
  position: relative

.content
  width: calc(100% - #{$informationWidth} - 2px)
  height: auto
  padding: 20px
  padding-left: 65px
  // padding-top: 50px
  // overflow-y: scroll

  .item:hover
    background-color: $black

  .item
    width: 350px
    height: 210px
    background-color: $blacker
    padding: 10px
    margin-right: 50px
    margin-bottom: 50px
    display: inline-block
    cursor: pointer
    //TODO: static color
    box-shadow: 2px 2px 50px 0px rgba(0,0,0,0.2)

    @include transitionProp(0.2s, ease-out, background-color)

    .hozLine
      width: 99%
      height: 2px
      background-color: $purple


    .title
      font-size: 1.5rem
      font-weight: 600
      margin: 0px
      margin-bottom: 10px
      margin-left: 8px
      user-select: none

    .desc
      max-height: 120px
      padding: 10px
      padding-top: 0px
      margin-left: 10px
      // white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 1.1rem
      cursor: text


.information
  position: absolute
  top: 0px
  right: 0px
  width: $informationWidth
  height: 100%

  .descTitle
    font-size: 1.5rem
    margin: 12px
    font-weight: 600

  .desc
    font-size: 1.2rem
    padding: 12px
    padding-top: 0px
    max-height: 290px
    overflow-y: scroll
    margin: 0px
















  //









//
