@import "styles/variables"

.wrapper
  display: flex
  flex-direction: row
  height: 100%
  width: 100%

.page
  width: calc(96% - #{$sidebarWidth})
  height: 96%
  margin-left: 2%
  margin-top: 4%
  background-color: $blacker
  border-top-left-radius: 10px
  border-top-right-radius: 10px

  color: $white

  .breadcrumbs
    display: flex
    flex-direction: row
    align-items: center
    padding-left: 20px
    padding-top: 14px

    p
      text-transform: capitalize
      font-size: 2rem
      margin: 0px

    .course
      font-weight: 800

    .name
      font-weight: 6  00

    svg
      fill: $white
      width: 50px
      height: 50px












//
